doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= 'Gulpstructor'
        link(rel='stylesheet', href='./css/styles.css')
    body
        header
            h1(id='title') Gulpstructor
                span  (v.1.0)
        main
            #structure.section
                .section_title
                    h2 Structure
                .languages
                    h3 How are you creating markup?
                    ul#structure_lang
                    #descr_structure_lang.description
                .options
                    ul#structure_opts
            #style.section
                .section_title
                    h2 Styles
                .languages
                    h3 What are you going to use for styling?
                    ul#style_lang
                    #descr_style_lang.description
                .options
                    ul#style_opts
            #script.section
                .section_title
                    h2 Scripts
                .languages
                    h3 How will you write your scripts?
                    ul#script_lang
                    #descr_script_lang.description
                .options
                    ul#script_opts
        footer
        script(src='./js/scripts.js')