doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= 'Gulpstructor'
        link(rel='stylesheet', href='./css/styles.css')
    body
        header
            h1(id='title') Gulpstructor
                span  (v.1.0)
        main
            form(id='gulp_data')
                .section#html
                    .section_title
                        h2 Structure
                    .languages
                        h3.prompt How are you creating markup?
                        .lang_list
                            ul
                        .lang_details
                            .descr
                            ul.opts
                    .extras
                        h2 Extras:
                        .xtras_list
                            ul
                .section#css
                    .section_title
                        h2 Styles
                    .languages
                        h3.prompt What are you going to use for styling?
                        .lang_list
                            ul
                        .lang_details
                            .descr
                            ul.opts
                    .extras
                        h2 Extras:
                        .xtras_list
                            ul
                .section#js
                    .section_title
                        h2 Scripts
                    .languages
                        h3.prompt How will you write your scripts?
                        .lang_list
                            ul
                        .lang_details
                            .descr
                            ul.opts
                    .extras
                        h2 Extras:
                        .xtras_list
                            ul
                        //.plug
                            .plug_switch
                                input(type='checkbox', name='p_jshint', id='p_jshint')
                                label.main(for='p_jshint') JSHint
                                label.switch_btn(for='p_jshint')
                                    .pos.pos_on On
                                    .pos.pos_off Off
                        //.plug
                            .plug_switch
                                input(type='checkbox', name='p_uglify', id='p_uglify')
                                label.main(for='p_uglify') Uglify
                                label.switch_btn(for='p_uglify')
                                    .pos.pos_on On
                                    .pos.pos_off Off
                                ul.xtra_plug_opts
                                    li
                                        h4.opt_name mangle
                                        div
                                            input(type='radio', name='uglify_mangle', id='o_js_uglify_mangle_true')
                                            label(for='o_js_uglify_mangle_true') true
                                        div
                                            input(type='radio', name='uglify_mangle', id='o_js_uglify_mangle_false')
                                            label(for='o_js_uglify_mangle_false') false
                        //.plug
                            .plug_switch
                                input(type='checkbox', name='p_concat', id='p_concat')
                                label.main(for='p_concat') Concat
                                label.switch_btn(for='p_concat')
                                    .pos.pos_on On
                                    .pos.pos_off Off
                input(type='submit', id='generate_btn', value='Generate')
        footer
        script(src='./js/scripts.js')