body
    background-color: $col_bg_drk
    
header
    background-color: $col_bg_lgt
    padding: 0 1.5em
    border: $bdr_base
    h1
        font-weight: 300
        span
            font-size: 60%
main
    padding: 2em 25%
    
