//Section cards
.section
    border: $bdr_base
    border-radius: 0.25em
    background-color: $col_bg_lgt
    margin-bottom: 4em
    .section_title
        border-bottom: $bdr_base
        padding: 0.25em 0.75em
        h2
            color: $col_accent
            text-transform: uppercase
            font-weight: 300
            margin: 0
    .languages
        padding: 1em 2.5em
        h3
            color: $col_txt_lgt
            font-weight: 300
            text-transform: uppercase
            text-align: center

//Selectors for languages
.languages ul
    margin: 0
    padding: 1em 0 3em
    list-style-type: none
    color: $col_txt_lgt
    text-align: center
    display: block
    border-bottom: $bdr_base
    li        
        display: inline-block
        margin-top: 0.75em
        label
            border: $bdr_base_drk
            padding: 0.75em
            border-radius: 0.75em
            cursor: pointer
            -webkit-user-select: none
        input
            visibility: hidden
        input[type="radio"]:checked + label
            color: $col_accent
            border: $bdr_base_accent
    
//Plugin description
.description
    padding: 1em
    font-weight: 200
    p
        color: $col_txt_lgt
        display: none
    p.active
        display: block
        
//Plugin options
ul.opts_list
    text-align: left