#output_wrapper
    height: 100%
    width: 100%
    position: fixed
    top: 0
    left: 0
    background-color: $col_bg_opaque
    z-index: 500
    display: none
    overflow: auto
    
#output_wrapper.visible
    display: block
    
#output_wrapper #close_modal
    width: 3em
    height: 3em
    border: $bdr_base_accent
    border-radius: 50%
    position: fixed
    right: 8vw
    top: 12vw
    text-align: center
    cursor: pointer
    p
        margin: 0
        font-weight: 200
        font-size: 2.5em
        color: $col_accent
    span
        color: $col_accent
        text-transform: uppercase
        margin-top: 0.5em
        font-size: 90%
        display: block

.output_card
    padding: 2em 20% 2em
    .section
        margin-bottom: 2em

.section_content
    padding: 1em 2em
    
.section_controls
    text-align: right
    padding: 0 2em
    button, a
        text-decoration: none
        border: $bdr_base_comp
        color: $col_comp
        background-color: $col_comp_lgt
        border-radius: 0.5em
        padding: 0.5em 1em
        margin: 0.5em
        text-transform: uppercase
        cursor: pointer
        outline: 0

#save_proj_btn_wrapper
    text-align: center
    
#save_proj
    @extend #generate_btn
    padding: 0.5em 1.25em
    margin: 1.5em 0
    
#gulpfile_text
    height: 26em
    overflow-y: scroll
    code pre
        padding: 2em
        margin-right: 1.25em
    code pre:focus
        outline: 0
        background-color: $col_accent_lgt
        border: $bdr_base_accent
    
textarea#clipboard
    position: fixed
    left: 9000px

