//Section cards
.section
    border: $bdr_base
    border-radius: 0.25em
    background-color: $col_bg_lgt
    margin-bottom: 4em
    .section_title
        border-bottom: $bdr_base
        padding: 0.25em 0.75em
        h2
            color: $col_accent
            text-transform: uppercase
            font-weight: 300
            margin: 0
    .languages
        padding: 1em 2.5em
        h3
            color: $col_txt_lgt
            font-weight: 300
            text-transform: uppercase
        h3.prompt
            text-align: center
            
//Generate button
#generate
    margin-top: -1.75em
    text-align: center
    p.notification
        float: none;
        font-size: 120%
#generate_btn
    padding: 1em 2.5em
    border: $bdr_base_comp
    border-radius: 0.5em
    background-color: $col_comp_lgt
    text-transform: uppercase
    color: $col_comp
    font-size: 125%
    cursor: pointer
    outline: 0    //hide blue line that appears after click